extends ../includes/template
block main
  header.main-header
    div.hero
      div.container-head
        div.head-top 
          div.marca
            p.slogan Country Singer
            h1.name 
              a(href="") Mark
               p Lamegon                         
          div.fecha
            span Est.
            br
            span 23
            span 04
            br
            span 86
          div.flecha 

  .container-main 
    .main 
      .conciertos 
        .text
          h1 Upcomming
          p Concerts 
        .boton
          h1  
            a(class="button primary icon-circle-right") INFORMACION
      .lugares
        .box 
          .des
            h1.fecha 13/12
            h3.lugar New York
          img(src="img/c1.jpeg", alt="")
        
        .box 
          .des
            h1.fecha 14/12
            h3.lugar Detroit
          img(src="img/c2.jpeg", alt="")
  
        .box 
          .des
            h1.fecha 14/12
            h3.lugar Los Angeles
          img(src="img/c3.jpeg", alt="")
        
        .box  
          .des
            h1.fecha 15/12
            h3.lugar Boston
          img(src="img/c4.jpg", alt="")
        
        .box 
          .des
            h1.fecha 19/12
            h3.lugar Atlanta
          img(src="img/c5.jpeg", alt="")
      
      .informacion
        .one
          .des 
            .title 
              h2 Mark Lamegon
            .text
              p Travel Around My Soul
        .two
          .des
            h6 New Album
            h2 Travel Around My Soul
            a(class="button primary icon-circle-right") INFORMACION

      .sonido
        .click
          iframe(id="audio-player-iframe" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/7777342&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false")    
      .viajes
        .one
          .des
            h6 New Album Release
            h2 Travel Around My Soul
            a(class="button primary icon-circle-right") INFORMACION
        .two
          span
   
  .festivales
    .container-fes
      div(class="año") 2018
      .one
        .des
          h2 Great American Country Music Festival         
          a(class="button primary icon-circle-right") INFORMACION
      .two

  .foot-about
    .about-main 
      .one  
      .two
        .des
          h2 Shortly About         
          h1 Mark Lamegon
          p Growing up in Kernersville, North Carolina, Mark Lamegon listened to all of the requisite country music staples: Alan Jackson, George Strait, Kenny Chesney and Garth Brooks. But as a child of the Nineties, he was also shaped by the smooth pop and R&B sounds of Greatest Country music artists,
          a(class="button primary icon-circle-right") INFORMACION
        
    .store  
      .one
        h1 Goods From Store
        a(class="button primary icon-circle-right") INFORMACION
      .two
        .box
          img(src="img/polo1.png", alt="")
          h6 Vinyl Album
          a Mark Lamegon
        .box
          img(src="img/polo2.png", alt="")
          h6 Women’s Merch
          a Fan’s T-Shirt
        .box
          img(src="img/polo3.png", alt="")
          h6 Men’s Merch
          a Fan’s T-Shirt
        .box
          img(src="img/polo3.png", alt="")
          h6 Men’s Merch
          a Fan’s T-Shirt

    .contact
      .api
        h2 CONTACT
        form(action="")
          input(type="text" placeholder="Nombre")
          input(type="text" placeholder="Email")
          input(type="text" placeholder="Telefono")
          textarea(type="text" placeholder="Asunto" name="", cols="30", rows="10")
          button(class="button contact") ENVIAR
      .redes  
        p.copyright Mark Lamegon © 2018 | All Rights Reserved
        ul
          li
            a(class="icon-facebook" href="")
          li
            a(class="icon-twitter" href="")
          li
            a(class="icon-whatsapp" href="")
          li
            a(class="icon-instagram" href="")
        




            

            




            
 


  
