extends ../includes/template
block main
  header.main-header
    div.hero
      div.container-head
        div.head-top 
          div.marca
            p.slogan Country Singer
            h1.name 
              a(href="") Mark
               p Lamegon                         
          div.fecha
            span Est.
            br
            span 23
            span 04
            br
            span 86
          div.flecha  
  .container-main 
    .main 
      .conciertos 
        .text
          h1 Upcomming
          p Concerts 
        .boton
          h1 
            button INFORMACION
      .lugares
        .box 
          .des
            h1.fecha 13/12
            h3.lugar New York
          img(src="img/c1.jpeg", alt="")
        
        .box 
          .des
            h1.fecha 14/12
            h3.lugar Detroit
          img(src="img/c2.jpeg", alt="")
  
        .box 
          .des
            h1.fecha 14/12
            h3.lugar Los Angeles
          img(src="img/c3.jpeg", alt="")
        
        .box  
          .des
            h1.fecha 15/12
            h3.lugar Boston
          img(src="img/c4.jpg", alt="")
        
        .box 
          .des
            h1.fecha 19/12
            h3.lugar Atlanta
          img(src="img/c5.jpeg", alt="")
      
      .informacion
        .one
          .des 
            .title 
              h2 Mark Lamegon
            .text
              p Travel Around My Soul
        .two
          .des
            h6 New Album
            h2 Travel Around My Soul
            button More Info

      .sonido
        .click
      .viajes
        .one
        .two
        .thre


            
 


  
