@charset "UTF-8";

*,:after,:before{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:"sans-serif";
}

@font-face{
  font-family:slabo;
  src:url(../fonts/fuentes/slabo/Slabo13px-Regular.ttf) format("truetype");
}

@font-face{
  font-family:monserrat;
  src:url(../fonts/fuentes/monse/Montserrat-Regular.ttf) format("truetype");
}

@font-face{
  font-family:icomoon;
  src:url(../fonts/iconos/icon/icomoon.eot?9utyir);
  src:url(../fonts/iconos/icon/icomoon.eot?9utyir#iefix) format("embedded-opentype"),url(../fonts/iconos/icon/icomoon.ttf?9utyir) format("truetype"),url(../fonts/iconos/icon/icomoon.woff?9utyir) format("woff"),url(../fonts/iconos/icon/icomoon.svg?9utyir#icomoon) format("svg");
  font-weight:400;
  font-style:normal;
}

[class*=" icon-"],[class^=icon-]{
  font-family:icomoon !important;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.icon-image:before{
  content:"\e90d";
}

.icon-play:before{
  content:"\e912";
}

.icon-file-music:before{
  content:"\e928";
}

.icon-file-play:before{
  content:"\e929";
}

.icon-phone:before{
  content:"\e942";
}

.icon-location:before{
  content:"\e947";
}

.icon-menu:before{
  content:"\e9bd";
}

.icon-cross:before{
  content:"\ea0f";
}

.icon-circle-up:before{
  content:"\ea41";
}

.icon-circle-right:before{
  content:"\ea42";
}

.icon-circle-down:before{
  content:"\ea43";
}

.icon-circle-left:before{
  content:"\ea44";
}

.icon-facebook:before{
  content:"\ea90";
}

.icon-instagram:before{
  content:"\ea92";
}

.icon-whatsapp:before{
  content:"\ea93";
}

.icon-twitter:before{
  content:"\ea96";
}

.icon-file-pdf:before{
  content:"\eadf";
}

.button{
  position:relative;
  margin-top:27px;
  display:inline-block;
  text-align:center;
  line-height:1.2;
  border-style:solid;
  overflow:hidden;
  cursor:pointer;
  transition:all .3s ease;
  padding:24px;
  font-size:17px;
  padding-right:93px;
}

.button.contact{
  color:#fff;
  border-color:#fff;
  background:transparent;
}

.button.contact:hover{
  color:#ccc;
}

.button.primary{
  color:#787a7c;
  background:#fff;
  border-color:#eee;
}

.button.primary:before{
  right:58px;
  content:"";
  border-left:2px solid #3f3545;
  transition:all .4s ease;
  font-size:24.14px;
  border-color:#eee;
}

.button.primary:after,.button.primary:before{
  position:absolute;
  top:0;
  bottom:0;
  padding-right:10px;
  line-height:.70423em;
}

.button.primary:after{
  right:10px;
  font-size:35px;
  content:"\ea42";
  padding-left:10px;
  margin-left:10px;
  line-height:72px;
  color:#fff;
}

.button.primary:hover{
  background:#3f3545;
  color:#fff;
}
.main-header{
  text-align:center;
  color:#fff;
  background:#3e3343;
}

.main-header .hero{
  overflow:hidden;
  min-height:100vh;
  background-image:url(/img/hero-4.jpeg);
  background-attachment:fixed;
  background-size:cover;
  background-position:50%;
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.main-header .hero .container-head{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  min-width:300px;
  max-width:1200px;
}

.main-header .hero .container-head .head-top{
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  color:#fff;
}

.main-header .hero .container-head .head-top .marca{
  display:inline-block;
  font-family:slabo,sans-serif;
}

.main-header .hero .container-head .head-top .marca .slogan{
  font-size:1.2em;
  text-transform:uppercase;
}

@media screen and (min-width:768px){
  .main-header .hero .container-head .head-top .marca .slogan{
    font-size:1.5em;
  }
}

.main-header .hero .container-head .head-top .marca .name{
  overflow:hidden;
  text-transform:none;
  font-size:3em;
  line-height:1;
  padding:0;
}

@media screen and (min-width:768px){
  .main-header .hero .container-head .head-top .marca .name{
    font-size:6em;
  }
}

.main-header .hero .container-head .head-top .marca .name a{
  color:#fff;
  text-decoration:none;
}

.main-header .hero .container-head .head-top .marca .name a p{
  margin:0;
}

.main-header .hero .container-head .head-top .fecha{
  font-size:14px;
  line-height:32px;
  position:relative;
}

.main-header .hero .container-head .head-top .fecha:before{
  position:absolute;
  content:"";
  width:97px;
  height:1px;
  left:50%;
  top:50%;
  background:#fff;
  -webkit-transform:translateX(-50%) translateY(-50%) rotate(45deg);
          transform:translateX(-50%) translateY(-50%) rotate(45deg);
}

.main-header .hero .container-head .head-top .fecha:after{
  position:absolute;
  content:"";
  width:97px;
  height:1px;
  left:50%;
  top:50%;
  background:#fff;
  -webkit-transform:translateX(-50%) translateY(-50%) rotate(-45deg);
          transform:translateX(-50%) translateY(-50%) rotate(-45deg);
}

.main-header .hero .container-head .head-top span+span{
  font-size:16px;
  margin-left:44px;
}

.main-header .hero .container-head .flecha{
  font-size:14px;
  line-height:32px;
  position:relative;
  padding:20px;
  width:100px;
  margin:50px auto;
  transition:all .25s;
  line-height:66px;
  cursor:pointer;
}

.main-header .hero .container-head .flecha:before{
  left:50%;
  -webkit-transform:translateX(-83%) translateY(-83%) rotate(45deg);
          transform:translateX(-83%) translateY(-83%) rotate(45deg);
}

.main-header .hero .container-head .flecha:after,.main-header .hero .container-head .flecha:before{
  position:absolute;
  content:"";
  width:50px;
  height:2px;
  top:83%;
  background:#fff;
  cursor:pointer;
}

.main-header .hero .container-head .flecha:after{
  left:85%;
  -webkit-transform:translateX(-83%) translateY(-83%) rotate(-45deg);
          transform:translateX(-83%) translateY(-83%) rotate(-45deg);
}
.container-main{
  overflow:hidden;
  min-height:100vh;
  background-image:url(/img/hero-3.jpeg);
  background-size:cover;
  background-position:50%;
  background-attachment:fixed;
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.container-main .main{
  width:100%;
  margin:0 0 0 auto;
}

@media screen and (min-width:768px){
  .container-main .main{
    width:90%;
  }
}

.container-main .main .conciertos{
  padding-top:4em;
  padding-bottom:4em;
  display:-ms-grid;
  display:grid;
  background:#fff;
}

@media screen and (min-width:768px){
  .container-main .main .conciertos{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
  }
}

.container-main .main .conciertos .text{
  padding:0 20px;
  color:#3e3343;
  font-family:slabo,sans-serif;
}

@media screen and (min-width:1024px){
  .container-main .main .conciertos .text{
    padding:0 0 0 140px;
  }
}

.container-main .main .conciertos .text h1,.container-main .main .conciertos .text p{
  margin:0;
  font-size:2.2em;
}

@media screen and (min-width:1024px){
  .container-main .main .conciertos .text h1,.container-main .main .conciertos .text p{
    font-size:3em;
  }
}

.container-main .main .conciertos .boton h1{
  padding:0 20px;
  margin:0;
}

@media screen and (min-width:1024px){
  .container-main .main .conciertos .boton h1{
    padding:0 0 0 140px;
  }
}

.container-main .main .lugares{
  display:-ms-grid;
  display:grid;
  grid-auto-rows:250px;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

@media screen and (min-width:768px){
  .container-main .main .lugares{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
  }
}

@media screen and (min-width:1024px){
  .container-main .main .lugares{
    -ms-grid-columns:(1fr)[5];
        grid-template-columns:repeat(5,1fr);
  }
}

.container-main .main .lugares .box{
  display:block;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.container-main .main .lugares .box img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:250px;
  -webkit-transform:scale(1);
          transform:scale(1);
  transition:all .5s ease-in-out;
}

.container-main .main .lugares .box img:hover{
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}

.container-main .main .lugares .box .des{
  margin:60px 0;
  position:absolute;
  color:#fff;
  z-index:4;
  text-align:center;
  font-family:slabo,sans-serif;
}

.container-main .main .lugares .box .des h1{
  margin:0;
  font-size:2.5em;
}

.container-main .main .lugares .box .des h3{
  margin:0;
  font-size:1.8em;
}

.container-main .main .informacion{
  display:-ms-grid;
  display:grid;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion{
    height:600px;
    -ms-grid-columns:(45% 55%)[2];
        grid-template-columns:repeat(2,45% 55%);
  }
}

.container-main .main .informacion .one{
  background-image:url(/img/travel.jpeg);
  background-size:cover;
  background-position:50%;
}

.container-main .main .informacion .one:after{
  position:absolute;
  display:inline-block;
  content:"";
  left:96%;
  bottom:50%;
  width:0;
  height:0;
  border-style:solid;
  border-width:20px 20px 20px 0;
  border-color:transparent #fff transparent transparent;
  transition:all .4s ease;
}

@media screen and (min-width:768px){
  .container-main .main .informacion .one:after{
    left:98%;
    bottom:58%;
  }
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .one:after{
    left:49.5%;
    bottom:56%;
  }
}

.container-main .main .informacion .one .des{
  width:80%;
  margin:100px auto;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .one .des{
    margin:200px auto 0;
  }
}

.container-main .main .informacion .one .des .title{
  width:50%;
  font-family:slabo,sans-serif;
}

.container-main .main .informacion .one .des .title h2{
  font-size:2em;
  margin:0 0 20px;
  color:#fff;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .one .des .title h2{
    font-size:3em;
  }
}

.container-main .main .informacion .one .des .text{
  margin-top:20px;
  background:#fff;
  display:inline-block;
  padding:20px;
  width:280px;
  font-family:slabo,sans-serif;
}

.container-main .main .informacion .one .des .text p{
  color:#3e3343;
  font-size:1.5em;
  line-height:1;
  margin:0;
  padding:0;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .one .des .text p{
    font-size:1.5em;
  }
}

.container-main .main .informacion .two{
  background:#fff;
}

.container-main .main .informacion .two .des{
  width:80%;
  margin:0 auto;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr;
      grid-template-columns:1fr;
  padding:100px 0;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .two .des{
    width:60%;
    padding-top:200px;
    padding-bottom:80px;
  }
}

.container-main .main .informacion .two .des h6{
  font-family:monserrat,sans-serif;
  margin:0;
  font-size:1.2em;
  color:#d8d8d8;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .two .des h6{
    font-size:1.5em;
  }
}

.container-main .main .informacion .two .des h2{
  font-family:slabo,sans-serif;
  margin:20px 0 30px;
  font-size:2em;
  line-height:1.05;
  color:#3e3343;
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .two .des h2{
    font-size:3em;
  }
}

.container-main .main .informacion .two .des a{
  width:90%;
}

@media screen and (min-width:768px){
  .container-main .main .informacion .two .des a{
    width:50%;
  }
}

@media screen and (min-width:1024px){
  .container-main .main .informacion .two .des a{
    width:60%;
  }
}

.container-main .main .sonido{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:(100%)[1];
      grid-template-columns:repeat(1,100%);
  background:#eee;
  height:250px;
}

.container-main .main .sonido .click{
  width:90%;
  margin:40px auto;
  border-style:solid;
  background:#fff;
  border-color:#fff;
}

.container-main .main .sonido .click iframe{
  width:100%;
  border:none;
}

.container-main .main .viajes{
  display:-ms-grid;
  display:grid;
  -ms-grid-rows:1fr 1fr;
      grid-template-rows:1fr 1fr;
}

@media screen and (min-width:1024px){
  .container-main .main .viajes{
    height:600px;
    -ms-grid-columns:(45% 45%)[2];
        grid-template-columns:repeat(2,45% 45%);
    -ms-grid-rows:none;
        grid-template-rows:none;
  }
}

.container-main .main .viajes .one{
  background:#fff;
}

.container-main .main .viajes .one:before{
  position:absolute;
  bottom:6%;
  left:0;
  display:inline-block;
  content:"";
  margin-top:-12px;
  width:0;
  height:0;
  border-style:solid;
  border-width:11px 0 11px 13px;
  border-color:transparent transparent transparent #fff;
  transition:all .4s ease;
  z-index:2;
}

@media screen and (min-width:768px){
  .container-main .main .viajes .one:before{
    display:none;
  }
}

@media screen and (min-width:1024px){
  .container-main .main .viajes .one:before{
    display:block;
    bottom:16%;
    left:50.5%;
  }
}

.container-main .main .viajes .one .des{
  width:80%;
  margin:0 auto;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr;
      grid-template-columns:1fr;
  padding:100px 0;
}

@media screen and (min-width:1024px){
  .container-main .main .viajes .one .des{
    padding-top:150px;
    padding-bottom:80px;
  }
}

.container-main .main .viajes .one .des h6{
  margin:0;
  font-size:1.2em;
  color:#d8d8d8;
  font-family:monserrat,sans-serif;
}

@media screen and (min-width:1024px){
  .container-main .main .viajes .one .des h6{
    font-size:1.5em;
  }
}

.container-main .main .viajes .one .des h2{
  margin:20px 0 30px;
  font-size:2em;
  line-height:1.05;
  color:#3e3343;
  font-family:slabo,sans-serif;
}

@media screen and (min-width:1024px){
  .container-main .main .viajes .one .des h2{
    font-size:3em;
  }
}

.container-main .main .viajes .one .des a{
  width:90%;
}

@media screen and (min-width:768px){
  .container-main .main .viajes .one .des a{
    width:50%;
  }
}

@media screen and (min-width:1024px){
  .container-main .main .viajes .one .des a{
    width:60%;
  }
}

.container-main .main .viajes .two{
  position:relative;
  background-image:url(/img/v1.jpeg);
  background-size:cover;
  background-position:50%;
}

.container-main .main .viajes .two span{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background:url(/img/you.png) 50% 50% no-repeat;
  transition:all .4s ease;
  background-size:100px;
}

.container-main .main .viajes .two span:hover{
  opacity:.5;
}
.festivales{
  position:relative;
  overflow:hidden;
  background:#eee;
}

.festivales .container-fes{
  width:80%;
  margin:0 auto;
  display:-ms-grid;
  display:grid;
  -ms-grid-rows:1fr 1fr;
      grid-template-rows:1fr 1fr;
}

@media screen and (min-width:768px){
  .festivales .container-fes{
    height:600px;
    -ms-grid-columns:(50% 50%)[2];
        grid-template-columns:repeat(2,50% 50%);
    -ms-grid-rows:none;
        grid-template-rows:none;
  }
}

.festivales .container-fes .año{
  font-family:slabo,sans-serif;
  position:absolute;
  font-size:5em;
  line-height:1.4;
  text-indent:340px;
  text-align:center;
  top:100%;
  left:-30%;
  -webkit-transform:translateY(0);
          transform:translateY(0);
  right:50px;
  color:#fff;
  z-index:3;
  -webkit-transform:rotate(-90deg);
          transform:rotate(-90deg);
}

@media screen and (min-width:768px){
  .festivales .container-fes .año{
    font-size:10em;
    -webkit-transform:rotate(0deg);
            transform:rotate(0deg);
    top:0;
    left:-5%;
    -webkit-transform:translateY(0);
            transform:translateY(0);
    display:block;
    left:-40%;
  }
}

@media screen and (min-width:1024px){
  .festivales .container-fes .año{
    left:-2%;
    font-size:18em;
  }
}

.festivales .container-fes .one .des{
  width:100%;
  margin:0 auto 0 0;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr;
      grid-template-columns:1fr;
  padding:40px 0;
  position:relative;
  z-index:3;
}

@media screen and (min-width:768px){
  .festivales .container-fes .one .des{
    width:95%;
    padding:150px 0;
  }
}

@media screen and (min-width:1024px){
  .festivales .container-fes .one .des{
    padding-top:120px;
    padding-bottom:80px;
    width:80%;
  }
}

.festivales .container-fes .one .des h2{
  margin:20px 0 30px;
  font-size:2em;
  line-height:1.05;
  color:#3e3343;
  font-family:slabo,sans-serif;
}

@media screen and (min-width:1024px){
  .festivales .container-fes .one .des h2{
    font-size:3em;
  }
}

.festivales .container-fes .one .des a{
  width:100%;
}

@media screen and (min-width:1024px){
  .festivales .container-fes .one .des a{
    width:60%;
  }
}

.festivales .container-fes .two{
  position:relative;
  z-index:1;
  background-image:url(/img/v3.jpeg);
  background-size:cover;
  background-position:80%;
  margin-right:-440px;
  left:7px;
}
.foot-about{
  overflow:hidden;
  background-image:url(/img/p5.jpeg);
  background-attachment:fixed;
  background-size:cover;
  background-position:50%;
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
  -o-object-fit:cover;
  object-fit:cover;
}

.foot-about .about-main{
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr;
      grid-template-columns:1fr;
  height:auto;
}

@media screen and (min-width:768px){
  .foot-about .about-main{
    -ms-grid-columns:30% 1fr;
        grid-template-columns:30% 1fr;
  }
}

@media screen and (min-width:1024px){
  .foot-about .about-main{
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
  }
}

.foot-about .about-main .one{
  background:transparent;
}

.foot-about .about-main .two{
  background:#fff;
}

.foot-about .about-main .two:after{
  position:absolute;
  display:inline-block;
  content:"";
  width:0;
  height:0;
  border-style:solid;
  border-width:20px 20px 20px 0;
  border-color:transparent #fff transparent transparent;
  transition:all .4s ease;
  display:none;
}

@media screen and (min-width:768px){
  .foot-about .about-main .two:after{
    display:block;
    left:27.5%;
    bottom:85%;
  }
}

@media screen and (min-width:1024px){
  .foot-about .about-main .two:after{
    display:block;
    left:49%;
    bottom:79%;
  }
}

.foot-about .about-main .two .des{
  width:75%;
  margin:0 auto;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr;
      grid-template-columns:1fr;
  padding:40px 0;
  position:relative;
  z-index:3;
  font-family:slabo,sans-serif;
}

@media screen and (min-width:768px){
  .foot-about .about-main .two .des{
    width:80%;
    padding-top:120px;
    padding-bottom:80px;
  }
}

.foot-about .about-main .two .des h1{
  margin:0;
  font-size:2em;
  line-height:1.05;
  color:#3e3343;
}

@media screen and (min-width:768px){
  .foot-about .about-main .two .des h1{
    font-size:3em;
  }
}

.foot-about .about-main .two .des h2{
  margin:0;
  font-size:1.5em;
  line-height:1.05;
  color:#d8d8d8;
}

@media screen and (min-width:768px){
  .foot-about .about-main .two .des h2{
    font-size:3em;
  }
}

.foot-about .about-main .two .des P{
  padding-right:30px;
  margin:0;
  color:#a5a5a5;
  padding:20px 0 0;
  line-height:1.5;
  font-family:monserrat,sans-serif;
}

@media screen and (min-width:768px){
  .foot-about .about-main .two .des P{
    width:80%;
    padding:50px 0;
  }
}

.foot-about .about-main .two .des a{
  width:100%;
}

@media screen and (min-width:768px){
  .foot-about .about-main .two .des a{
    width:60%;
  }
}

@media screen and (min-width:1024px){
  .foot-about .about-main .two .des a{
    width:50%;
  }
}

.foot-about .store{
  width:100%;
  background:#eee;
  display:-ms-grid;
  display:grid;
  -ms-grid-columns:1fr;
      grid-template-columns:1fr;
  padding:0 0 50px;
}

@media screen and (min-width:1024px){
  .foot-about .store{
    width:90%;
    margin:0 0 0 auto;
  }
}

.foot-about .store .one{
  width:90%;
  margin:50px auto 0;
  display:-ms-grid;
  display:grid;
}

@media screen and (min-width:1024px){
  .foot-about .store .one{
    margin:50px 100px;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
  }
}

.foot-about .store .one h1{
  font-size:2em;
  line-height:1;
  color:#3e3343;
  font-family:monserrat,sans-serif;
  margin:10px 0;
}

@media screen and (min-width:1024px){
  .foot-about .store .one h1{
    font-size:3em;
  }
}

.foot-about .store .one a{
  width:80%;
  height:80px;
}

@media screen and (min-width:768px){
  .foot-about .store .one a{
    width:55%;
  }
}

@media screen and (min-width:1024px){
  .foot-about .store .one a{
    margin-left:50px;
  }
}

.foot-about .store .two{
  width:90%;
  margin:0 auto;
  display:-ms-grid;
  display:grid;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  height:auto;
  padding:50px 0;
  grid-gap:20px;
}

@media screen and (min-width:768px){
  .foot-about .store .two{
    -ms-grid-columns:(1fr)[2];
        grid-template-columns:repeat(2,1fr);
  }
}

@media screen and (min-width:1024px){
  .foot-about .store .two{
    padding:0;
    -ms-grid-columns:(1fr)[4];
        grid-template-columns:repeat(4,1fr);
  }
}

.foot-about .store .two .box{
  text-align:center;
  width:100%;
  border:2px solid #fff;
  padding:20px;
  font-family:monserrat,sans-serif;
}

.foot-about .store .two .box img{
  width:100%;
}

.foot-about .store .two .box h6{
  font-size:18px;
  line-height:1.66;
  color:#594960;
  margin:20px;
}

.foot-about .store .two .box a{
  font-size:30px;
  line-height:1;
  color:#3e3343;
  font-weight:700;
  cursor:pointer;
}

.foot-about .contact{
  width:80%;
  margin:0 auto;
  display:-ms-grid;
  display:grid;
  padding:0;
}

@media screen and (min-width:1024px){
  .foot-about .contact{
    grid-gap:2em;
    -ms-grid-columns:1fr 1fr;
        grid-template-columns:1fr 1fr;
  }
}

.foot-about .contact .api h2{
  color:#fff;
  font-size:48px;
  font-family:slabo,sans-serif;
  margin-bottom:0;
}

.foot-about .contact .api form{
  margin-bottom:50px;
  display:-ms-grid;
  display:grid;
}

.foot-about .contact .api form button,.foot-about .contact .api form input,.foot-about .contact .api form textarea{
  font-family:monserrat,sans-serif;
  border:1px solid #fff;
  font-weight:700;
  padding:20px;
  width:100%;
  margin:10px 0;
  height:50px;
}

.foot-about .contact .api form button:focus,.foot-about .contact .api form input:focus,.foot-about .contact .api form textarea:focus{
  outline:0;
  border:2px solid #3e3343;
}

.foot-about .contact .api form input,.foot-about .contact .api form textarea{
  background:transparent;
  color:#fff;
}

.foot-about .contact .api form input::-webkit-input-placeholder{
  color:#fff;
}

.foot-about .contact .api form input:-ms-input-placeholder{
  color:#fff;
}

.foot-about .contact .api form input::placeholder{
  color:#fff;
}

.foot-about .contact .api form textarea::-webkit-input-placeholder{
  color:#fff;
}

.foot-about .contact .api form textarea:-ms-input-placeholder{
  color:#fff;
}

.foot-about .contact .api form textarea::placeholder{
  color:#fff;
}

.foot-about .contact .api form textarea{
  height:100px;
}

.foot-about .contact .api form button{
  padding:0;
  margin:0;
  width:50%;
}

.foot-about .contact .redes{
  color:#fff;
  padding:20px 0;
}

@media screen and (min-width:1024px){
  .foot-about .contact .redes{
    padding:200px 0;
  }
}

.foot-about .contact .redes p{
  text-align:center;
  font-family:monserrat,sans-serif;
}

.foot-about .contact .redes ul{
  list-style:none;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow:wrap;
      flex-flow:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding:0;
}

.foot-about .contact .redes ul li{
  margin:20px 10px;
}

.foot-about .contact .redes ul li a{
  color:#fff;
  font-size:36px;
  text-decoration:none;
  width:200px;
  height:200px;
  border:1px solid #fff;
  padding:10px;
  transition:all 1s ease;
}

.foot-about .contact .redes ul li a:hover{
  opacity:.5;
  transition:all 1s ease;
}

/*# sourceMappingURL=styles.css.map */
