      /* header */

      .main-header {
          text-align: center;
          color: $blanco;
          background: $morado;
          .hero {
              overflow: hidden;
              min-height: 100vh;
              background-image: url(/img/hero-4.jpeg);
              background-attachment: fixed;
              background-size: cover;
              background-position: center center;
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              -o-object-fit: cover;
              object-fit: cover;
              .container-head {
                  margin-right: auto;
                  margin-left: auto;
                  padding-left: 15px;
                  padding-right: 15px;
                  min-width: 300px;
                  max-width: 1200px;
                  .head-top {
                      text-align: center;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      color: $blanco;
                      .marca {
                          display: inline-block;
                          font-family: $titulo, sans-serif;
                          .slogan {
                              font-size: 1.2em;
                              text-transform: uppercase;
                              @include desde($mediun) {
                                  font-size: 1.5em;
                              }
                          }
                          .name {
                              overflow: hidden;
                              text-transform: none; // margin-top: 31px;
                              font-size: 3em;
                              line-height: 1;
                              padding: 0px;
                              @include desde($mediun) {
                                  font-size: 6em;
                              }
                              a {
                                  color: white;
                                  text-decoration: none;
                                  p {
                                      margin: 0;
                                  }
                              }
                          }
                      }
                      .fecha {
                          font-size: 14px;
                          line-height: 32px;
                          position: relative;
                          &::before {
                              position: absolute;
                              /* display: inline-block; */
                              content: '';
                              width: 97px;
                              height: 1px;
                              left: 50%;
                              top: 50%;
                              background: $blanco;
                              transform: translateX(-50%) translateY(-50%) rotate(45deg);
                          }
                          &::after {
                              position: absolute;
                              content: '';
                              width: 97px;
                              height: 1px;
                              left: 50%;
                              top: 50%;
                              background: $blanco;
                              transform: translateX(-50%) translateY(-50%) rotate(-45deg);
                          }
                      }
                      span+span {
                          font-size: 16px;
                          margin-left: 44px;
                      }
                  }
                  .flecha {
                      font-size: 14px;
                      line-height: 32px;
                      position: relative;
                      padding: 20px;
                      width: 100px;
                      margin: 50px auto;
                      transition: all .25s;
                      line-height: 66px;
                      cursor: pointer;
                      &::before {
                          position: absolute;
                          content: '';
                          width: 50px;
                          height: 2px;
                          left: 50%;
                          top: 83%;
                          background: $blanco;
                          transform: translateX(-83%) translateY(-83%) rotate(45deg);
                          cursor: pointer;
                      }
                      &::after {
                          cursor: pointer;
                          position: absolute;
                          content: '';
                          width: 50px;
                          height: 2px;
                          left: 85%;
                          top: 83%;
                          background: $blanco;
                          transform: translateX(-83%) translateY(-83%) rotate(-45deg);
                      }
                  }
              }
          }
      }
      /* header */
