        /* MAIN */

        .container-main {
            overflow: hidden;
            min-height: 100vh;
            background-image: url(/img/hero-3.jpeg);
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            .main {
                width: 100%;
                margin: 0 0 0 auto; //border: 1px solid red;
                @include desde($mediun) {
                    width: 90%;
                }
                .conciertos {
                    padding-top: 4em;
                    padding-bottom: 4em;
                    display: grid;
                    background: $blanco;
                    @include desde($mediun) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .text {
                        padding: 0px 20px;
                        color: $morado;
                        font-family: $titulo, sans-serif;
                        @include desde($large) {
                            padding: 0px 0px 0px 140px;
                        }
                        h1,
                        p {
                            margin: 0px;
                            font-size: 2.2em;
                            @include desde($large) {
                                font-size: 3em;
                            }
                        }
                    }
                    .boton {
                        h1 {
                            padding: 0 20px;
                            margin: 0px;
                            @include desde($large) {
                                padding: 0px 0px 0px 140px;
                            }
                            a {}
                        }
                    }
                }
                .lugares {
                    display: grid;
                    grid-auto-rows: 250px;
                    justify-content: center;
                    @include desde($mediun) {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    @include desde($large) {
                        grid-template-columns: repeat(5, 1fr);
                    }
                    .box {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        img {
                            display: block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 100%;
                            height: 250px;
                            transform: scale(1);
                            transition: all 500ms ease-in-out;
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                        .des {
                            margin: 60px 0px;
                            position: absolute;
                            color: $blanco;
                            z-index: 1000;
                            text-align: center;
                            font-family: $titulo, sans-serif;
                            h1 {
                                margin: 0px;
                                font-size: 2.5em;
                            }
                            h3 {
                                margin: 0px;
                                font-size: 1.8em;
                            }
                        }
                    }
                }
                .informacion {
                    display: grid;
                    @include desde($large) {
                        height: 600px;
                        grid-template-columns: repeat(2, 45% 55%);
                    }
                    .one {
                        background-image: url(/img/travel.jpeg);
                        background-size: cover;
                        background-position: center center;
                        &::after {
                            position: absolute;
                            display: inline-block;
                            content: '';
                            left: 96%;
                            bottom:50%;
                            width: 0px;
                            height: 0px;
                            border-style: solid;
                            border-width: 20px 20px 20px 0;
                            border-color: transparent $blanco transparent transparent;
                            transition: .4s all ease;
                            @include desde($mediun) {
                                left: 98%;
                                bottom: 58%;
                            }
                            @include desde($large) {
                                left: 49.5%;
                                bottom: 56%;
                            }
                        }
                        .des {
                            //border:1px solid red;
                            width: 80%;
                            margin: 100px auto;
                            @include desde($large) {
                                margin: 200px auto 0 auto;
                            }
                            .title {
                                width: 50%;
                                font-family: $titulo, sans-serif;
                                h2 {
                                    font-size: 2em;
                                    margin: 0 0 20px 0px;
                                    color: $blanco;
                                    @include desde($large) {
                                        font-size: 3em;
                                    }
                                }
                            }
                            .text {
                                margin-top: 20px;
                                background: $blanco;
                                display: inline-block;
                                padding: 20px;
                                width: 280px;
                                font-family: $titulo, sans-serif;
                                p {
                                    color: $morado;
                                    font-size: 1.5em;
                                    line-height: 1;
                                    margin: 0;
                                    padding: 0px;
                                    @include desde($large) {
                                        font-size: 1.5em;
                                    }
                                }
                            }
                        }
                    }
                    .two {
                        background: white; //border:1px solid black;
                        .des {
                            width: 80%;
                            margin: 0px auto;
                            display: grid;
                            grid-template-columns: 1fr; // border:1px solid red;
                            padding: 100px 0px;
                            @include desde($large) {
                                width: 60%;
                            }
                            @include desde($large) {
                                padding-top: 200px;
                                padding-bottom: 80px;
                            }
                            h6 {
                                font-family: $texto, sans-serif;
                                margin: 0px;
                                font-size: 1.2em;
                                color: $plomoo;
                                @include desde($large) {
                                    font-size: 1.5em;
                                }
                            }
                            h2 {
                                font-family: $titulo, sans-serif;
                                margin: 20px 0px 30px 0px;
                                font-size: 2em;
                                line-height: 1.05;
                                color: $morado;
                                @include desde($large) {
                                    font-size: 3em;
                                }
                            }
                            a {
                                width: 90%;
                                @include desde($mediun) {
                                    width: 50%;
                                }
                                @include desde($large) {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
                .sonido {
                    display: grid;
                    grid-template-columns: repeat(1, 100%);
                    background: $plomo;
                    height: 250px;
                    .click {
                        width: 90%;
                        margin: 40px auto;
                        background: $blanco;
                        border-style: solid;
                        background: $blanco;
                        border-color: $blanco;
                        iframe {
                            width: 100%;
                            border: none;
                        }
                    }
                }
                .viajes {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    @include desde($large) {
                        height: 600px;
                        grid-template-columns: repeat(2, 45% 45%);
                        grid-template-rows: none;
                    }
                    .one {
                        background: white;
                        &::before {
                            position: absolute;
                            bottom: 6%;
                            left: 0%;
                            display: inline-block;
                            content: ''; // top: 50%;
                            margin-top: -12px; //left: -2px;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 11px 0 11px 13px;
                            border-color: transparent transparent transparent #fff;
                            transition: .4s all ease;
                            z-index: 20;
                            @include desde($mediun) {
                            display: none;
                          }
                            @include desde($large) {
                              display: block;
                              bottom: 16%;
                              left: 50.5%;
                          }
                        }
                        .des {
                          width: 80%;
                            margin: 0px auto;
                            display: grid;
                            grid-template-columns: 1fr; // border:1px solid red;
                            padding: 100px 0px;
                            @include desde($large) {
                                padding-top: 150px;
                                padding-bottom: 80px;
                            }
                            h6 {
                                margin: 0px;
                                font-size: 1.2em;
                                color: $plomoo;
                                font-family: $texto, sans-serif;                          
                                @include desde($large) {
                                  font-size: 1.5em; 
                              }
                            }
                            h2 {
                                margin: 20px 0px 30px 0px;
                                font-size: 2em;
                                line-height: 1.05;
                                color: $morado;
                                font-family: $titulo, sans-serif;

                                @include desde($large) {
                                  font-size: 3em; 
                              }
                            }
                            a {
                                width: 90%;
                                @include desde($mediun) {
                                  width: 50%;

                              }
                              @include desde($large) {
                                width: 60%;

                            }

                            }
                        }
                    }
                    .two {
                        position: relative;
                        background-image: url(/img/v1.jpeg);
                        background-size: cover;
                        background-position: 50%;
                        span {
                            position: absolute;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            background: url(/img/you.png) 50% 50% no-repeat;
                            transition: .4s all ease;
                            background-size: 100px;
                            &:hover {
                                opacity: .5;
                            }
                        }
                    }
                }
            }
        }
        /* MAIN */
